<!DOCTYPE html>
<html [ngClass]="[body]">
<body>
<div id="mySidenav" [ngClass]="[bntStyle]" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div>
    <a href="#">Ciao</a>
  </div>
  <a href="#">Gloria</a>
  <a href="#">Ti</a>
  <a href="#">Amo</a>
</div>
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
</body>
</html>
