@import '~bootstrap/dist/css/bootstrap.min.css';/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
html{
  background-image: radial-gradient(rgb(115, 199, 252) 0%, rgb(102, 105, 241) 100%);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}
