.head {
  height: 0px;
  width: 0px;
}

iframe {
  width: 900px;
  height: 900px;
}

.calendar {
  position: absolute;
  margin-top: 5%;
  left: 20%;
}

@media only screen and (max-width: 750px) {
  iframe {
    width: 350px;
    height: 350px;
  }

  .calendar {
    left: 0%;
  }
}


